<!-- Modal -->
<div
    class="modal fade"
    id="exampleModalLong"
    tabindex="-1"
    role="dialog"
    aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content container">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <i class="fas fa-times-circle fa-2x text-primary bg-white"></i>
            </button>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-xl-3 d-none d-xl-block">
                        <img class="img-fluid position-absolute position-bottom-0 drop-shadow-white-lg" src="img/img-mask-man.png" alt="">
                    </div>
                    <div class="col-12 col-xl-9">
                        <div class="row align-items-center my-2">
                            <div class="col-auto col-lg-2">
                                <span class="badge badge-secondary rounded-0 w-100 p-2 text-dark">前職</span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <span class="text-secondary">営業支援サポート営業マン</span>
                            </div>
                            <div class="col-12 my-1"></div>
                            <div class="col-auto col-lg-2">
                                <span class="badge badge-primary rounded-0 w-100 p-2">現職</span>
                            </div>
                            <div class="col-12 col-lg-10">
                                <span class="font-weight-bolder">CPエージェンシー代表取締役</span>
                            </div>
                        </div>
                        <div class="row my-4">
                            <div class="col">
                                <h2 class="font-weight-bolder line-md">組織作りの楽しさに魅了され、<br>営業マンから代表取締役へ。</h2>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12">
                                <h4 class="font-weight-bolder">入社した理由は？</h4>
                                <hr class="my-3 hr-primary hr-bold">
                                <p class="line-lg text-justify">
                                    入社した理由が何文字か入ります。前職は自動車部品メーカーで電子製品の制御設計をしていました。元々大学院で電気工学を研究していた流れから就職したんですが、自動車ならではの慎重な開発スピードや完成された組織体制が性に合わず…そこで、以前から興味があり個人でも勉強していたデータ分析関連の仕事をやりたいと、WEBやIT関連の会社に転職活動を始め、CPエージェンシーに出会いました。
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-lg-5">
                    <div class="col-12">
                        <h4 class="text-center font-weight-bolder">OFF TIME</h4>
                        <hr class="my-3 hr-primary hr-bold">
                        <div class="row justify-content-center">
                            <div class="col-10 col-lg-4">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item object-fit-cover" src="img/img-survival.png" alt="">
                                </div>
                                <p class="my-4 line-lg">
                                    休日はサバゲーも趣味でやってます笑
                                    <br>
                                    最近ハマり始めたのですが、緊張感や戦略を考え、仲間と共にゴールを目指すのは経営と似てますね笑
                                </p>
                            </div>
                            <div class="col-10 col-lg-4">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item object-fit-cover" src="img/img-billiards.png" alt="">
                                </div>
                                <p class="my-4 line-lg">
                                    ビリヤードの大会もたまに行ってます。
                                    <br>
                                    コツコツと上達する楽しみがたまらないです笑
                                </p>
                            </div>
                            <div class="col-10 col-lg-4">
                                <div class="embed-responsive embed-responsive-16by9">
                                    <img class="embed-responsive-item object-fit-cover" src="img/img-tapioka.png" alt="">
                                </div>
                                <p class="my-4 line-lg">
                                    最初はバカにしてたんですけど、最近のマイフェイバリットドリンクはタピオカです！一緒に美味しいタピオカ巡りをお昼休みにしませんか笑
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row my-5">
                    <div class="col-12">
                        <h4 class="text-center font-weight-bolder">ある一日のスケジュール</h4>
                        <hr class="hr-primary hr-bold m-0">
                        <table class="table table-primary">
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>〜10:00</span>
                                    <span class="float-right">出社・メール確認</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    出社後すぐにメールの確認、今日のスケジュール確認など、本日の仕事を整理。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>11:00〜</span>
                                    <span class="float-right">朝会</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    プログラマー、デザイナーなどのチームに分かれて行われる。
                                    <br>
                                    週によって重点的に見るチームを変えてバランスよく参加している（2行まで。）
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>12:00〜</span>
                                    <span class="float-right">MTG</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>13:00〜</span>
                                    <span class="float-right">お昼休憩</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>14:00〜</span>
                                    <span class="float-right">資料作成</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>15:00〜</span>
                                    <span class="float-right">商談</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>16:00〜</span>
                                    <span class="float-right">ご提案書作成</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>18:00〜</span>
                                    <span class="float-right">フォローアップ</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                            <tr>
                                <th class="d-block d-lg-table-cell">
                                    <span>20:00〜</span>
                                    <span class="float-right">退社</span>
                                </th>
                                <td class="d-block d-lg-table-cell">
                                    テキストテキスト。
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
