{{ $url := "https://docs.google.com/spreadsheets/d/e/2PACX-1vR51-dHOMm8yW6L_lLZ4WqILeUVR0K52e_Qf_X4MM0y978meKdqwjHz2tB3_qEo27ToAHVQMbzg-SoO/pub" }}
{{ $sep := "," }}
{{ $data := getCSV $sep $url "?gid=0" "&single=true" "&output=csv" }}

<!DOCTYPE html>
<html>
  <head>
    <title>Doda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/coliff/bootstrap-rfs/bootstrap-rfs.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
    {{ $options := (dict "outputStyle" "compressed" "enableSourceMap" true) }}
    {{ $css := resources.Get "scss/style.scss" | resources.ToCSS $options }}
    {{ $style := $css | resources.PostCSS }}
    <link rel="stylesheet" href="{{ $style.Permalink }}">
  </head>
  <body>
    <div class="fixed-bottom">
      <p>実験用メニューバー</p>
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        {{- range after 1 $data -}}
        <li class="nav-item">
          <a class="nav-link" id="{{- index . 0 -}}-tab" data-toggle="tab" href="#{{- index . 0 -}}" role="tab" aria-controls="{{- index . 0 -}}" aria-selected="true">{{- index . 0 -}}</a>
        </li>
        {{ end }}
      </ul>
    </div>

    <div class="tab-content" id="myTabContent">
      {{- range after 1 $data -}}
        <div class="tab-pane fade" id="{{- index . 0 -}}" role="tabpanel" aria-labelledby="{{- index . 0 -}}-tab">
          {{ partial "main.html" (dict "jobId" (index . 0) "primaryColor" (index . 1) ) }}
        </div>
      {{end}}
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script type="text/javascript">
      // Javascript to enable link to tab
      var url = document.location.toString();
      if (url.match('#')) {
        $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
      }

      // Change hash for page-reload
      $('.nav-tabs a').on('shown.bs.tab', function (e) {
        window.location.hash = e.target.hash;
      })
    </script>
  </body>
</html>
