<!DOCTYPE html>
<html lang="en">
<head>
    <title>Doda</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="scss/style.scss">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="scss/style.css">
</head>
<body>


<!-- First Container -->
<div class="container-fluid bg-1 text-center ">
    <div class="content1">
        <div class="content1-img"></div>
        <div class="content1-txt">
            <p>新卒営業マンを活かすサービス<br>
            「精神と時の部屋」を運営！</p>
        </div>  
        <button type="button" class="btn btn-send rounded-pill">メールに返信する</button>
    </div>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
    <div class="content2">
        <div class="content2-headline">
            <h4>経済情報で、世界を変える</h4>
        </div>
        <div class="content2-txt">
            <p>私たちは、世界中で愛される経済情報インフラをつくります。<br>
            あらゆる経済情報を人とテクノロジーで整理・分析・創出し、ビジネスパーソンの生産性を高め、創造性を解放します。<br>
            私たちは経済情報を通じて世界の意思決定を支え、世界を変えます。</p>
        </div>
    </div>
</div>

<!-- Third Container -->
<div class="container-fluid bg-3 text-left">
    <div class="content3">
        <div class="content3-headline">
            <h3 color="darkblue">募集ポジション説明</h3>
        </div>
        <div class="content3-text1">
            <p><span class="$darkblue">→</span> ソフトウェアエンジニア（サーバー/フロント）</p>
        </div>
        <div class="content3-text2">
            <p>現在、「技術力で、ビジネスをリードする」という開発チームのミッションのもと、「ペアプロ必須」などの独自のカルチャーを持っています。</p>
            <p>自社プロダクトの成長速度をさらに加速していく必要があります。</p>
            <p>その為には、技術が好きでたまらない、新しいことに挑戦することを躊躇しない、ユーザーに良いものを届けたい、というエンジニアが集まったチームであり続けることが重要だと考えています。</p>
        </div>
        <div class="content3-img"></div>
    </div>
</div>

<!-- Forth Container -->
<div class="container-fluid bg-4 text-center">
    <div class="content4">
        <div class="content4-top">
            <div class="content4-headline">
                <h3>Pick Up</h3>
            </div>
            <div class="content4-text">
                <p>独立を会社が支える支援プログラムを実施</p>
                <p>オンライン営業で成長スピード３倍の実績</p>
                <p>マーケティングスキルが身に付く職場</p>
            </div>
        </div>

        <div class="content4-bottom">
            <div class="content4-box1">
                <div class="box1-top">
                    <div class="box1-headline">
                        <h5>独立を会社が支える支援プログラムを実施</h5>
                    </div>
                    <div class="txt">
                        <p>出社義務もなければ、コアタイムもなし。
                            集中できる場所や時間は人それぞれ。
                            生産性を高め最大限のアウトプットを出すために、自分にとってベストな働き方がデザインできます。
                        </p>
                    </div>
                </div>
                <div class="box1-bottom">
                    <div class="box1-img"></div>
                    <div class="box1-txtbox balloon">
                        <p>毎朝7時半にジムに行き、11時に出社しています。
                            朝、ジムにいけない場合は19時に会社を出てトレーニングをし、帰宅後に仕事をすることもあります。
                            自由に時間をアレンジできるので、ジムに毎日通うこともでき、結果17kgも痩せました！
                        </p>
                    </div>
                </div>
            </div>
            <div class="content4-box2">
                <div class="box2-top">
                    <div class="box1-headline">
                        <h4>20文字程度のpickupタイトルを挿入。</h4>
                    </div>
                    <div class="txt">
                        <p>出社義務もなければ、コアタイムもなし。
                            集中できる場所や時間は人それぞれ。
                            生産性を高め最大限のアウトプットを出すために、自分にとってベストな働き方がデザインできます。
                        </p>
                    </div>
                </div>
                <div class="box2-bottom">
                    <div class="box2-img"></div>
                    <div class="box2-txtbox balloon"></div>
                </div>
            </div>
            <div class="content4-box3">
                <div class="box3-top">
                    <div class="box1-headline">
                        <h5>独立を会社が支える支援プログラムを実施</h5>
                    </div>
                    <div class="txt">
                        <p>出社義務もなければ、コアタイムもなし。
                            集中できる場所や時間は人それぞれ。
                            生産性を高め最大限のアウトプットを出すために、自分にとってベストな働き方がデザインできます。
                        </p>
                    </div>
                </div>
                <div class="box3-bottom">
                    <div class="box3-img"></div>
                    <div class="box3-txtbox balloon"></div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Fifth Container -->
<div class="container-fluid bg-5 text-center">
    <div class="content5">
        <div class="content5-headline">
            <h3>向いている人、向いていない人</h3>
        </div>
        <div class="content5-txtbox">
            <div class="left-txtbox">
                <h5 class="left-caption">向いてる人</h5>
                <ul>
                    <li>新たな技術を身に着けることを商戦したい人。</li>
                    <li>プロジェクトの全体像を自分で考えてチームで進めて行きたい人。</li>
                    <li>給与以上に働く環境を重視したい人。</li>
                </ul>
            </div>
            <div class="right-txtbox">
                <h5 class="right-caption">向いてない人</h5>
                <ul>
                    <li>今の持っている技術範囲内で仕事をしていきたい人。</li>
                    <li>上司から振られる仕事をコツコツを進めていきたい人。</li>
                    <li>働く環境よりも給与を重視したい人。</li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- Sixth Container -->
<div class="container-fluid bg-6 text-center">
    <div class="content6-headline">
        <h3>メンバーを知る</h3>
    </div>
    <div class="member-img">
        <div class="img-box1"></div>
        <div class="img-box2"></div>
        <div class="img-box3"></div>
        <div class="img-box4"></div>
    </div>
</div>

<!-- Seventh Container -->
<div class="container-fluid bg-7 text-center">
</div>

<!-- Footer -->
<footer class="container-fluid bg-8 text-center">
    <div class="footer-headline">
        <h4>ぜひ、ご応募ください！</h4>
    </div>
    <div class="footer-txt">
        <p>具体的な職務内容や職場案内などもご案内させていただいておりますので、<br>
        まずは、一度お問い合わせいただければ幸いです！</p>
    </div>
    <button type="button" class="btn btn-reply rounded-pill">メールに返信する</button>
</footer>

</body>
</html>

